<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>学食レビュー</title>
</head>

<body>
    <header>
        <a href="/" style="text-decoration:none;">
            <span style="color:white; font-weight:bold; font-size:1.1rem; margin-left:20px;">
                Webプログラミング課題
            </span>
        </a>
    </header>
    <h1>学食レビュー一覧</h1>
    <a href="/" class="btn btn-secondary">トップメニューに戻る</a>
    

    <table border="1">
        <tr>
            <th>メニュー</th>
            <th>評価</th>
            <th>価格</th>
        </tr>
        <% let number=0 %>
            <% for( let row of data ) { %>
                <tr>
                    <td>
                        <a href="/reviews/<%= number %>">
                            <%= row.menu %>
                        </a>
                    </td>
                    <td><span class="star">★</span> <%= row.stars %>
                    </td>
                    <td>
                        <%= row.price %> 円
                    </td>
                </tr>
                <% number +=1 %>
                    <% } %>
    </table>
    <br>
    <a href="/reviews/create" class="btn btn-primary">新規レビューを書く</a>
</body>

</html>