<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>構築一覧</title>
</head>

<body>
    <header>
        <a href="/" style="text-decoration:none;">
            <span style="color:white; font-weight:bold; font-size:1.1rem; margin-left:20px;">
                Webプログラミング課題
            </span>
        </a>
    </header>
    <h1>ポケモン構築管理</h1>
    <a href="/" class="btn btn-secondary">トップメニューに戻る</a>

    
    <ul>
        <% let number=0 %>
            <% for( let row of data ) { %>
                <li>
                    <a href="/teams/<%= number %>">
                        <%= row.name %>
                    </a>
                    (軸: <%= row.p1_name %>)
                </li>
                <% number +=1 %>
                    <% } %>
    </ul>
    <a href="/teams/create" class="btn btn-primary">追加</a>
</body>

</html>