<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Webプログラミング課題</title>
</head>

<body>
    <h1>Webアプリ課題メニュー</h1>
    <p>以下のリンクから各システムを利用できます。</p>

    <ul>
        <li>
            <a href="/teams">システム1：ポケモン構築管理</a>
        </li>
        <li>
            <a href="/kakeibos">システム2：家計簿アプリ</a>
        </li>
        <li>
            <a href="/reviews">システム3：学食レビュー</a>
        </li>
    </ul>
</body>

</html>